@import '../../colors.scss';

$padding: 8px;

.Panel {
    width: calc(100% - #{$padding * 2});
    min-height: 100px;
    background-color: $primary2-l2;
    border: 1px solid $primary2-l1;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 $primary2-l1;
    padding: $padding;

    & > * {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        color: $neutral3-6;
        font-size: 20px;
        line-height: 22px;
        font-weight: 500;
    }

    &__description {
        color: $neutral3-5;
        font-size: 16px;
        line-height: 20px;
    }
}
