@import '../../colors.scss';

$standard-margin: 24px;

.Questionnaire {
    padding: $standard-margin;
    overflow-x: hidden;
    overflow-y: auto;

    & > * {
        margin-bottom: $standard-margin;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__hint {
        color: $secondary1-d1;
        font-size: 20px;
        line-height: 22px;
        font-weight: bold;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}
