$primary1: #eb3b5a;
$primary1-l1: #fc5c65;

$primary2: #fa8231;
$primary2-l1: #fd9644;

$primary3: #f7b731;
$primary3-l1: #fed330;

$secondary1: #20bf6b;
$secondary1-l1: #26de81;

$secondary2: #0fb9b1;
$secondary2-l1: #2bcbba;

$secondary3: #2d98da;
$secondary3-l1: #45aaf2;

$secondary4: #3867d6;
$secondary4-l1: #4b7bec;

$secondary5: #8854d0;
$secondary5-l1: #a55eea;

$neutral1: #a5b1c2;
$neutral1-l1: #d1d8e0;

$neutral2: #4b6584;
$neutral2-l1: #778ca3;
